[submodule ".vim/bundle/vundle"]
	path = .vim/bundle/vundle
	url = https://github.com/gmarik/vundle.git
[submodule ".tmux-tony/vendor/tmux-mem-cpu-load"]
    path = .tmux-tony/vendor/tmux-mem-cpu-load
    url = git://github.com/thewtex/tmux-mem-cpu-load.git
